# Copyright (c) 2025 Christian Eiden
# SPDX-License-Identifier: MIT
 
 
if SHIELD_PORTA_LEFT

config ZMK_KEYBOARD_NAME
	default "porta left"

endif

if SHIELD_PORTA_RIGHT

config ZMK_KEYBOARD_NAME
	default "porta"

config ZMK_SPLIT_BLE_ROLE_CENTRAL
	default y

endif

if SHIELD_PORTA_LEFT || SHIELD_PORTA_RIGHT

config ZMK_SPLIT
	default y
	
endif
